<h1>Đêm và nổi buồn vô tận (love)</h1>
<div class="body">
	<div class="row" style="border-style: ridge;">
		<div style="width: 100%">
			<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		</div>
		<span>
			Có một thời gian dài, chỉ dành để yêu thương. Tình yêu mang đến niềm vui và nỗi buồn.
			Khi bắt đầu yêu, ừ mình vui lắm đấy. Ừ hạnh phúc và muốn bên em dài lâu. Muốn bản thân mạnh mẽ hơn nữa....
			Khi chia xa, người con trai phải nói với người con gái như thế nào đây... Bản thân đã cố gắng yêu và thương rồi... Vậy tại sao lại phải chia xa. Tại sao lại phải quay bước đi trong khi 2 đứa vần còn yêu nhau.
			"Tình yêu đâu phải may mắn tìm được nhau, chẳng giống như lúc xưa tìm được nhau rồi lại lãng phí duyên trời"
			Yêu nhau, bên nhau và xa nhau... Một quy luật mãi mãi, một trò chơi của cuộc đời.
			Đau đớn.
			Tôi không tin vào tình yêu
		</span>
	</div>

</div>