<h1>Định hôn người ta mà ăn ngay bãi nôn vào mặt...(NEU confesstion)</h1>
<div class="body">
	<div class="row" style="border-style: ridge;">
		<div style="width: 100%">
			<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		</div>
		<span>
			Giờ nghĩ lại vẫn thấy ghê ghê chua chua...chả là em có tán 1 bạn K58 bên NEU, bạn ấy vui vẻ, hòa đồng lắm nên em cũng thích, mới chỉ tán gọi là nhắn tin, inbox làm quen rồi đi chơi với nhau được 2,3 buổi nhưng toàn đi chơi cùng câu lạc bộ. Chúng em quen nhau qua 1 câu lạc bộ ở ngoài mà 2 đứa hoạt động chung, em nghĩ bạn ấy cũng biết em thích bạn ấy rồi, con gái dễ nhận ra lắm...đến trưa hôm kia, cả câu lạc bộ đi ăn liên hoan tại nhà 1 anh, anh ấy tân gia nhà mới, mọi người uống say bí tỉ trong đó có cả bạn ấy...những người tỉnh thì về hết, còn ai nếu say quá thì nằm nghỉ nhà anh ấy 1 chút. Lúc đầu h chiều thì còn mỗi em với bạn ấy ở phòng, anh ấy ra ngoài mua ít đồ, bạn ấy cứ ngồi nói linh ta linh tinh xong em mới cơ hội, em mới hỏi
			- Cậu có thích tớ ko?
			- Có chứ, thích thì mới chơi với nhau chứ.
			- Thế cậu có yêu tớ ko?
			- Có chứ, cũng yêu luôn
			*Em nghĩ đây là rượu nói, tự dưng đầu óc em đen tối quá em mới lợi dụng lúc bạn ấy say, cơ bản em cũng phê phê phê nên hành động hơi hàm hồ :( *
			- Thế cho tớ hôn 1 cái đc ko?
			*Nụ hôn đầu ạ*
			- Ok.
			Thế là bạn ấy chu cái mõm ra, em vui lắm, định chu mõm lại gần...chuẩn bị môi chạm môi, em định há miệng ra thì...*Huệ, ọe*. Ôi Đệt mẹ, đệt cái con m* rau muốn, thịt bò, mì tôm, nước lẩu, khoai,..v..v...tất cả những thứ ấy được nghiền trong dạ dày rồi được đẩy ra ngoài theo đường miệng bạn ấy vào miệng em...thề luôn, chua, xong kiểu nhơn nhớt, bạn ấy nôn xong còn cười *hì hì* xong bảo em 
			- Dọn đi cậu ơi!
			Vừa kết thúc câu nói bạn ấy ngất ra ghế salon luôn, em vào ngay WC rửa mồm đủ các kiểu. Xong chạy ra nhìn lại, em thề là nhìn lại lại buồn nôn thêm, em vào WC nôn tiếp, nôn xong rồi em mới ra dọn cho bạn ấy, lau từ sàn cho đến ghế salon nhà anh kia...dọn đc 1 lúc thì anh ấy về. Anh ấy hỏi em làm gì thì em cũng chỉ khai là bạn ấy nôn ra nên em dọn, anh ấy lao vào dọn cùng...
			Đến hôm sau, em có hỏi bạn ấy là 
			- Hôm qua nhớ gì ko? 
			- Không nhớ gì, chỉ nhớ lúc sau say hay sao ấy rồi lăn ra ngủ ở đấy cho đến khi tỉnh thôi.
			Nụ hồn đầu của em đấy, ăn ngay bãi nôn vào mặt, em ngồi đây viết cái cfs này cứ thấy mùi thum thủm chua chua nó ám ảnh trong đầu...
		</span>
	</div>

</div>