<h1>Articles</h1>
<div class="body">
	<div class="row" style="border-style: ridge;">
		<div class="col-sm-4 ">
			<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		</div>
		<div class="col-sm-8 ">
			<span style="width: 100%">
				<a href="article/id321">Đêm dài và nỗi buồn vô tận(Love story)</a> - Tân - 70 views
			</span>
			<div style="width: 100%">
				<span>Có một thời gian dài, chỉ dành để yêu thương. Tình yêu mang đến niềm vui và nỗi buồn...</span>
			</div>
		</div>
	</div>
	<div class="row" style="border-style: ridge;">
		<div class="col-sm-4 ">
			<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		</div>
		<div class="col-sm-8 ">
			<span style="width: 100%">
				<a href="article/id123">Định hôn người ta mà ăn ngay bãi nôn vào mặt...(NEU confesstion)</a> - Tân - 70 views
			</span>
			<div style="width: 100%">
				<span>Giờ nghĩ lại vẫn thấy ghê ghê chua chua...chả là em có tán 1 bạn K58 bên NEU, bạn ấy vui vẻ...</span>
			</div>
		</div>
	</div>
</div>