<div class="container">
  <h1 class="my-4">Album
    <small>ALBUM LIST</small>
  </h1>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-5 col-sm-6 text-center mb-4">
      <a href="/albumlove">
        <img class="img-fluid d-block mx-auto" src="https://pbs.twimg.com/profile_images/831541054469873664/hA15ODoL.jpg" width="200px" alt="">
        <h3>
          <big>Love</big>
          <br>
          <small>owner: Bùi Nhật Quang</small>
          <br>

          <small>view: 1000 </small>
        </h3>
      </a>

    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4" >
      <a href="/albumlife">
        <div style="width: 200px; height: 200px">
          <img class="img-fluid d-block mx-auto" src="https://sg-dae.kxcdn.com/blog/wp-content/uploads/2013/07/death-be-truly-life-oriented-1090x614.jpg"  width="200px" height="200px" alt="">
        </div>
        <h3>
          <big>Life</big>
          <br>
          <small>owner: Lê Duy Tân</small>
          <br>
          <small>view: 100</small>
        </h3>
      </a>
    </div>
  </div>


</div>