<div class="container">
  <h1 class="my-4">About Us
    <small>QT BLOGS TEAM</small>
  </h1>
  <p>We are the working in the same project.</p>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Our Team</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h3>Bùi Nhật Quang
        <small>1412424</small>
      </h3>
      <p>Nothing is impossible!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
      <h3>Lê Duy Tân
        <small>1412485</small>
      </h3>
      <p>The easy day was yesterday!</p>
    </div>
    <div class="row">
      <h3>17/16 Linh Trung Thủ Đức, Hồ Chí Minh
        <small>GG map here</small>
      </h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d823.6998672695088!2d106.79932192783616!3d10.872465924765612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1507537296974" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>


</div>