 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 .footer {
  // position: absolute;
  // bottom: 0;
  padding-top: 40px;
  width: 100%;
  height: 120px;
  line-height: 60px;
  background-color: #f5f5f5;
 }

 .container.content {
   padding-top: 60px;
 }

 .body {
 	padding-left: 10px;
 }