<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">QT Blogs</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/articles">Blogs <span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/albums">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled loginform" href="">Login/SignUp</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="navbar-toggler collapsed" type="button" onclick="showNav()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="form formlogin" style="display: none;">
      
          <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
          </ul>
          
          <div class="tab-content">
            <div id="signup">   
              <h1>Sign Up for Free</h1>
              
              <form action="/" method="post">
              
              <div class="top-row">
                <div class="field-wrap">
                  <label>
                    First Name<span class="req">*</span>
                  </label>
                  <input type="text" required autocomplete="off" />
                </div>
            
                <div class="field-wrap">
                  <label>
                    Last Name<span class="req">*</span>
                  </label>
                  <input type="text"required autocomplete="off"/>
                </div>
              </div>

              <div class="field-wrap">
                <label>
                  Email Address<span class="req">*</span>
                </label>
                <input type="email"required autocomplete="off"/>
              </div>
              
              <div class="field-wrap">
                <label>
                  Set A Password<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off"/>
              </div>
              
              <button type="submit" class="button button-block"/>Get Started</button>
              
              </form>

            </div>
            
            <div id="login">   
              <h1>Welcome Back!</h1>
              
              <form action="/" method="post">
              
                <div class="field-wrap">
                <label>
                  Email Address<span class="req">*</span>
                </label>
                <input type="email"required autocomplete="off"/>
              </div>
              
              <div class="field-wrap">
                <label>
                  Password<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off"/>
              </div>
              
              <p class="forgot"><a href="#">Forgot Password?</a></p>
              
              <button class="button button-block"/>Log In</button>
              
              </form>

            </div>
            
          </div><!-- tab-content -->
          <script type="text/javascript">
            $('.formlogin').hide();
            var loginhide = true;
            $('.formlogin').find('input, textarea').on('keyup blur focus', function (e) {
              var $this = $(this),
                  label = $this.prev('label');

                if (e.type === 'keyup') {
                  if ($this.val() === '') {
                      label.removeClass('active highlight');
                    } else {
                      label.addClass('active highlight');
                    }
                } else if (e.type === 'blur') {
                  if( $this.val() === '' ) {
                    label.removeClass('active highlight'); 
                  } else {
                    label.removeClass('highlight');   
                  }   
                } else if (e.type === 'focus') {
                  
                  if( $this.val() === '' ) {
                    label.removeClass('highlight'); 
                  } 
                  else if( $this.val() !== '' ) {
                    label.addClass('highlight');
                  }
                }

            });

            $('.tab a').on('click', function (e) {
              
              e.preventDefault();
              
              $(this).parent().addClass('active');
              $(this).parent().siblings().removeClass('active');
              
              target = $(this).attr('href');

              $('.tab-content > div').not(target).hide();
              
              $(target).fadeIn(600);
              
            });

            $('.loginform').click(function(){
              if(loginhide){
                $('.formlogin').show();
                loginhide = false;
              }else{
                $('.formlogin').hide();
                loginhide = true;
              };
            });
          </script>
        </div> <!-- /form -->
      </div>
    </nav>

    <div class="container content">
      <div class="row">
        <div id="navLeftBar" class="col-md-3 d-none d-md-block">
          <div class="list-group">
            <a href="#" class="list-group-item active">Me</a>
            <a href="#" class="list-group-item">Bryan</a>
            <a href="#" class="list-group-item">Luke</a>
            <a href="#" class="list-group-item">Love</a>
            <a href="#" class="list-group-item">Daily</a>
            <a href="#" class="list-group-item">Something news</a>
          </div>
        </div>
        <div class="col-md-9">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer class="footer">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
  <script>
    function showNav() {
        document.getElementById("navLeftBar").classList.remove("d-none");
    }
  </script>
  </body>
</html>
